[submodule "bundle/rails"]
	path = bundle/rails
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vroom"]
	path = bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ctrlp-py-matcher"]
	path = bundle/ctrlp-py-matcher
  url = https://github.com/FelikZ/ctrlp-py-matcher.git
  ignore = dirty
[submodule "bundle/memolist"]
	path = bundle/memolist
	url = https://github.com/glidenote/memolist.vim.git
  ignore = dirty
[submodule "bundle/ctrlp_bdelete"]
	path = bundle/ctrlp_bdelete
	url = https://github.com/d11wtq/ctrlp_bdelete.vim.git
