[submodule "bundle/rails"]
	path = bundle/rails
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vroom"]
	path = bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimfiler"]
	path = bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "bundle/neomru"]
	path = bundle/neomru
  url = https://github.com/Shougo/neomru.vim.git
  ignore = dirty
