snippet stless "Flutter stateless widget"
class $1 extends StatelessWidget {
	@override
	Widget build(BuildContext context) {
		return Container(
			$0
		);
	}
}
endsnippet

snippet stful "Flutter stateful widget"
class $1 extends StatefulWidget {
	@override
	_$1State createState() => _$1State();
}

class _$1State extends State<$1> {
	@override
	Widget build(BuildContext context) {
		return Container(
			$0
		);
	}
}
endsnippet
